.preview{
    padding: 0rem;
    overflow: hidden;
    /*box-shadow: 0rem 0rem 0.5rem #eceaea;*/
    height: 100%;
    padding-bottom: 6rem;
    background-color: #eceaea;
}

.preview-hide{
    display: none;
}

.preview>h6{
    background: #00C5CD;
    padding: 0.67rem 1.25rem;
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.preview-search{
    padding: 0.3rem 0.7rem !important;
}

.preview>h6 input{
    font-size: 0.75rem;
    padding: 0.3rem;
    width: 6rem !important;
    display: inline-block;
}

.preview>h6 .input-group{
    margin-bottom: 0px !important;
}

.preview>div
{
    max-height: 100%;
    overflow-y: scroll;
    margin-right: -19px;
}

.preview ul{
    width: 100%;
}

.preview li{
    border: 0px;
    background-color: #E0FFFF;
    margin-bottom: 2px;
    color: #A9A9A9;
}

.preview li:hover{
    background: #40E0D0;
    color: #ffffff;
}