################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/IEManageSystem.Api/bin
/src/IEManageSystem.Api/obj
/src/IEManageSystem.Api/App_Data/Logs/Logs.txt
/src/IEManageSystem.Api/ClientApp/node_modules
/src/IEManageSystem.ApiAuthorization/bin
/src/IEManageSystem.ApiAuthorization/obj
/src/IEManageSystem.Application/obj
/src/IEManageSystem.Application/bin
/src/IEManageSystem.Core/obj
/src/IEManageSystem.Core/bin
/src/IEManageSystem.EntityFrameworkCore/obj
/src/IEManageSystem.EntityFrameworkCore/bin
/src/UtilityAction/obj
/src/UtilityAction/bin
/src/IEManageSystem.IdentityServer/bin
/src/IEManageSystem.IdentityServer/obj
/src/IEManageSystem.IdentityServerEF/bin
/src/IEManageSystem.IdentityServerEF/obj
/test/IEManageSystem.Tests/bin
/test/IEManageSystem.Tests/obj
/test/IEManageSystem.Web.Tests/bin
/test/IEManageSystem.Web.Tests/obj
