.leftmenu_css {
    border-right: 1px solid #00688B;
    padding:0rem;
    height: 100%;
    padding-top: 0.625rem;
    background-color: #04b0c1;
    /*background-color: #0c6d77;*/
    overflow-x:hidden;
}

.leftmenu-avatar{
    padding:0.625rem 0rem;
}

.leftmenu-avatar p{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    margin: 0.625rem;
}

.leftmenu-weather{
    padding-bottom: 0.625rem;
}

.leftmenu-menu 
{
    overflow-y: scroll;
    margin-right: -18px;
}

    .leftmenu_css ul {
        background-color: #04b0c1;
    }

.leftmenu_css_li {
    background-color: #119ba9;
    position: relative;
    display: block;
    margin-bottom: -1px;
    cursor: pointer;
    color: #FFFFFF;
}

.leftmenu_css_li a:hover {
    /*background-color: #095c65;*/
    border-left: 0.312rem solid #00C5AD;
}

    .leftmenu_css_li .leftmenu_css_li{
        background-color: #0c6d77;
    }

    .leftmenu_css_li .leftmenu_css_li a{
        padding-left: 1.56rem;
    }

    .leftmenu_css_li .leftmenu_css_li a:hover {
        /*background-color: #095c65;*/
        border-left: 0.312rem solid #00C5AD;
    }

    .leftmenu_css_li a{
        display: block;
        padding: 0.9rem 1rem;
        border-left: 0.312rem solid #ffffff00;
        display: flex;
        align-items: center;
    }

    .leftmenu_css_li_active{
        /*background-color: #095c65;*/
        border-left: 0.312rem solid #00C5AD !important;
        border-right: 0.312rem solid #00C5AD !important;
    }

.leftmenu-icon-hide{
    color: #ffffff00;
}

.leftmenu-menutag {
    background-color: #234a4e;
    padding: .5rem;
}

    .leftmenu-menutag > div {
        font-size:1.15rem;
    }

    .leftmenu-menutag-btn {
        float: right;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        background: white;
        border-radius: 50%;
        border: none;
        outline: none;
    }

    .leftmenu-menutag-btn span {
        position: absolute;
        width: 1rem;
        height: .15rem;
        background: #262626;
        border-radius: 2px;
        overflow: hidden;
        transition: all 0.3s linear;
    }

        .leftmenu-menutag-btn span::before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            background: gray;
            transition: all 0.3s linear;
        }

        .leftmenu-menutag-btn span:nth-child(1) {
            animation: span-first-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
        }

        .leftmenu-menutag-btn span:nth-child(2) {
            animation: span-second-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
        }

        .leftmenu-menutag-btn span:nth-child(3) {
            animation: span-third-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
        }

    .leftmenu-menutag-btn.on:hover span::before {
        width: 100%;
        transition: all 0.3s linear;
    }

    .leftmenu-menutag-btn.on span:nth-child(1) {
        animation: span-first-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    .leftmenu-menutag-btn.on span:nth-child(2) {
        animation: span-second-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    .leftmenu-menutag-btn.on span:nth-child(3) {
        animation: span-third-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

@keyframes span-first-on {
    0% {
        transform: translate(-50%, -300%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes span-first-off {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -300%);
    }
}

@keyframes span-second-on {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        background: gray;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-150%, -50%) scale(0);
    }
}

@keyframes span-second-off {
    0% {
        transform: translate(-150%, -50%) scale(0);
    }

    25% {
        background: gray;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes span-third-on {
    0% {
        transform: translate(-50%, 200%);
    }

    30% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes span-third-off {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 200%);
    }
}