.editableparentcom{
    padding: 0rem;
}

.editableparentcom:hover>.editableparentcom-btns>button{
    opacity: 1;
}

.editableparentcom-btns{
    position: absolute;
}

.editableparentcom-btns>button{
    opacity: 0.2;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}