.data-list h6{
    background: #00C5CD;
    padding: 5px 10px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 19px;
}

.data-list thead{
    background-color: #00C5AD;
    color: #fff;
}

.data-paging ul{
    margin-bottom: 0px;
}

.data-paging li a{
    background-color: #6c757d;
    color: #fff;
}

.data-paging li a:hover{
    background-color: #fff;
    color: #000;
}

.data-form .modal-body>div{
    margin-bottom: 10px;
}

.data-form ul{
    padding: 0px;
    margin: 0px;
}

.data-form li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.margin-buttom-0{
    margin-bottom: 0px !important;
}

.margin-buttom-10{
    margin-bottom: 10px !important;
}