.nav-tag{
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
}

.nav-tag ul{
    white-space:nowrap;
    flex-wrap: nowrap;
}

.nav-tag ul li{
    flex-shrink: 0;
    width: 11rem;
    text-align: center;
}

.nav-tag ul li a{
    padding: .375rem 1rem;
    font-size: 1rem;
}

.nav-tag-noactive{
    color: #ffffff;
    background-color: #8ea7ad;
    border-radius: 0px !important;
    margin: 0px 1px;
}

.nav-tag-noactive:hover{
    color: #495057;
    background-color: #ffffff;
}

.nav-tag-deleteicon{
    top: 2px;
    margin-left: 0.5rem;
}

.nav-tag .nav-tabs .nav-link.active {
    color: #696a6b;
}

.nav-tag>div{
    overflow: hidden;
}

.nav-tag>button{
    border: 1px solid #dee2e6;
}

.nav-tag-closeall{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5c8396;
    border-radius: 0px;
    color: #ffffff;
    border: 0px !important;
}