@using System.Globalization
@using System.Threading
@using System.Threading.Tasks
@using Abp.Timing
@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>IEManageSystem</title>

    <!-- Global styles -->

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-paper/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

        <link rel="stylesheet" href="~/css/main.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/layout-libs.min.css" asp-append-version="true" />
    </environment>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    @*<script type="text/javascript">
            //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
            var abp = abp || {}; abp.appPath = '@ApplicationPath';
        </script>*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    @*<!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
            <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
        <![endif]-->*@

    @*@Scripts.Render("~/Bundles/vendor/js/top")*@

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
